.m_hide {
    display: none;
}

/* Large screens */
@media only screen and (max-width: 1000px) {
    .m_show-lg {
        display: flex;
    }
}

/* iPads */
@media only screen and (max-width: 850px) {
    .m_show-md {
        display: flex;
    }
}

/* Phones */
@media only screen and (max-width: 700px) {
    .m_show-sm {
        display: flex;
    }
}

/* Smaller phones */
@media only screen and (max-width: 600px) {
    .m_show-xs {
        display: flex;
    }
}
