:root {
    --info: #16a1e7; 
    --flag: rgb(192, 87, 69);
    --warn: #D5E963;
    --rite: #86dd5e;
    --lite: #ffffff;
    --dark: #161916;
    --grey: #d3d3d3;
}

/* main page margins */
html,
body {
    height: 100%;
    margin: 0;
}

.content {
    min-height: 100%;
    margin: 0 auto -85px;
}

.footer,
.push {
    height: 75px;
}

/* br */ 
.__brsm {
  display: block;
  content: "";
  margin-top: 5px;
  width: 100%;
}

.__brme {
  display: block;
  content: "";
  margin-top: 10px;
  width: 100%;
}

.__brlg {
  display: block;
  content: "";
  margin-top: 25px;
  width: 100%;
}

.__brxl {
  display: block;
  content: "";
  margin-top: 45px;
  width: 100%;
}

.__brsp {
  display: block;
  content: "";
  margin-top: 70px;
  width: 100%;
}

/* overflow */
.__flow {
  max-width: 100%; overflow-x: auto
}

/* widths */
.__13 {
  width: 1300px;
}
.__12 {
  max-width: 1200px;
  width: 90vw;
}
.__11 {
  max-width: 90vw;
  width: 1100px;
}
.__10 {
  width: 90vw;
  max-width: 1000px;
}
.__9 {
  width: 90vw;
  max-width: 900px;
}


button:disabled {
  opacity: 0.5
}

/* font sizes */
.__tgl {
  font-size: 60px;
}
.__txl {
  font-size: 40px;
}
.__tlg {
  font-size: 30px;
}
.__tme {
  font-size: 25px;
}
.__tmi {
  font-size: 22.5px;
}
.__tsm {
  font-size: 20px;
}
.__txs {
  font-size: 17px;
}

/* text align */
.__tar {
  text-align: right;
}
.__tal {
    text-align: center;
}
.__tle {
    text-align: left;
}

/* cursor */
.__grab {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.__grab:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.__po {
    cursor: pointer;
}

/* backgrounds */
.__bg-info {background-color: var(--info) ; }
.__bg-flag {background-color: var(--flag) ; }
.__bg-warn {background-color: var(--warn) ; }
.__bg-grey {background-color: var(--grey) ; }
.__bg-dark {background-color: var(--dark) ; }
.__bg-rite {background-color: var(--rite) ; }
.__bg-lite {background-color: var(--lite) ; }

/* borders */
.__bo-lite {border: 1.5px solid var(--lite) !important; }
.__bo-info {border: 1.5px solid var(--info) !important; }
.__bo-flag {border: 1.5px solid var(--flag) !important; }
.__bo-rite {border: 1.5px solid var(--rite) !important; }
.__bo-warn {border: 1.5px solid var(--warn) !important; }
.__bo-grey {border: 1.5px solid var(--grey) !important; }

/* backgrounds on hover */
.__hv-lite:hover {background-color: var(--lite); }
.__hv-info:hover {background-color: var(--info); }
.__hv-flag:hover {background-color: var(--flag); }
.__hv-grey:hover {background-color: var(--grey); }
.__hv-rite:hover {background-color: var(--rite); }
.__hv-warb:hover {background-color: var(--dull); }
.__hv-dark:hover {background-color: var(--dark); }

/* fills */
.__hfi-lite {fill: var(--lite); }
.__hfi-info {fill: var(--info); }
.__hfi-flag {fill: var(--flag); }
.__hfi-warn {fill: var(--warn); }
.__hfi-rite {fill: var(--rite); }
.__hfi-grey {fill: var(--grey); }
.__hfi-dark {fill: var(--dark); }

/* fills on hover */
.__hf-lite:hover {fill: var(--lite); }
.__hf-info:hover {fill: var(--info); }
.__hf-flag:hover {fill: var(--flag); }
.__hf-grey:hover {fill: var(--grey); }
.__hf-rite:hover {fill: var(--rite); }
.__hf-dark:hover {fill: var(--dark); }
.__hf-warn:hover {fill: var(--dark); }

/* text colors */
.__txt-info {color: var(--info); }
.__txt-flag {color: var(--flag); }
.__txt-warn {color: var(--warn); }
.__txt-grey {color: var(--grey); }
.__txt-dark {color: var(--dark); }
.__txt-rite {color: var(--rite); }
.__txt-lite {color: var(--lite); }

/* text colors on hover */
.__ht-lite:hover {color: var(--lite) !important; }
.__ht-info:hover {color: var(--info) !important; }
.__ht-flag:hover {color: var(--flag) !important; }
.__ht-rite:hover {color: var(--rite) !important; }
.__ht-grey:hover {color: var(--grey) !important; }
.__ht-dark:hover {color: var(--dark) !important; }
.__ht-warn:hover {color: var(--warn) !important; }

/* no background */
.__nb {background-color: rgba(0, 0, 0, 0); }
/* no border */
.__bo-none {border: none !important}

.__op-0 {opacity: 0; }
.__di-0 {display: none; }

.__mxwi {max-width: 1350px; }

/* auto margins */
.__mauto {margin: auto; }
.__mlauto {margin-left: auto; }
.__mrauto {margin-right: auto; }

/* float */
.__fl-ri {float: right; }
.__fl-le {float: left; }

/* curved borders */
.__brsl {border-radius: 5px; }
.__brssl {border-radius: 50px; }

/* padding */
.__padlg {padding: 20px; }
.__pad {padding: 5px 10px; }
.__padsm {padding: 5px; }

/* margin */
.__mar {margin: 5px 10px; }
.__marsm {margin: 5px; }
.__martop {margin-top: 10px; }

/* text styles */
.__un {text-decoration: underline;}
.__em {font-style: italic;}
.__bo {font-weight: bold; }

/* full width & height */
.__b {width: 100%; }
.__hack {height: 100%; }

/* wrap text */
.__twrap {white-space:normal; overflow-wrap: break-word; word-wrap: break-word; }
p {white-space: normal; overflow-wrap: break-word; word-wrap: break-word; }

/* disable image dragging */
.__nondrag {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* remove scrolling */
.__noscroll::-webkit-scrollbar {display: none; }

/* custom scrollbar */
.__custscroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--main);
  border-radius: 10px;
}

.__custscroll::-webkit-scrollbar-thumb {
  background: var(--sec);
  border-radius: 10px;
}

.__custscroll::-webkit-scrollbar {
  height: 10px;
  width: 5px; 
  border-radius: 5px;
}

/* no outline */
.__no-ou {
    outline: none;
}

/* remove anchor styling */
.__a {
    padding: 0;
    text-decoration: none;
}
